body {
  margin: 0;
  padding: 0;
  display: flex;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 20px 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
}

.sidebar-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.chat-rooms-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-room-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-room-item.active {
  background-color: #ebebeb;
}

.chat-room-item .chat-room-id {
  margin-left: 10px;
  font-weight: bold;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-bubble {
  display: flex;
  max-width: 80%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.message-bubble.sender {
  justify-content: flex-end;
  background-color: #DCF8C6;
}

.message-bubble.receiver {
  justify-content: flex-start;
  background-color: #E2E2E2;
}

.message-bubble p {
  margin: 0;
}

.input-area {
  margin-top: 10px;
}

.input-area input[type="text"] {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-area button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 200px;
  margin-bottom: 20px;

}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}
